@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  display: grid;
  font-family: "Euclid Circular A";
  background: linear-gradient(180deg, rgba(140, 34, 195, 1) 0%, rgba(68, 9, 126, 1) 53%, rgba(28, 1, 59, 1) 100%);
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
  max-height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media (min-width: 250px) {

  .anclas-menu {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 26px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
  }

  ul li {
    text-align: center;
  }

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    scale: 0;
  }

  .burger {
    z-index: 5;
    display: grid;
    width: 99px;
    height: 71px;
    background: transparent;
    border: 0;
    cursor: pointer;
    background-image: url("menu-desplegable-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    cursor: pointer;
    transition: 0.175s;
    margin-left: -20px;
    position: fixed;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .close-button {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    transition: 0.3s;
    z-index: 3;
  }

  .menu>div {
    background: #030108;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
  }

  body.open .menu>div {
    transform: translateX(0);
    background-color: #030108;
    height: 140px;
    width: 100%;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      translate: 0 20px;
    }

    100% {
      opacity: 1;
      translate: 0;
    }
  }

  .menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: 0.3s;
  }

  body.open-menu {
    overflow: hidden;
  }

  body.open .menu ul {
    opacity: 1;
  }

  body.open .menu ul li {
    animation: appear 0.4s both;
  }

  body.open .burger {
    opacity: 0;
    pointer-events: none;
  }

  body.open .close-button {
    display: block;
    opacity: 1;
    z-index: 4;
    position: fixed;
  }

  header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .div-header {
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }

  .frase-header {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  main {
    padding-bottom: 20px;
  }

  .circulo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: solid 2px #fcb502;
    overflow: hidden;
    margin-bottom: 2em;
    box-shadow: 0px 0px 44px 12px rgba(255, 199, 0, 0.75);
  }

  .img-logo {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
  }

  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .texto-mc {
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    width: 17em;
    word-spacing: .2em;
  }

  .h1-nosotros {
    margin: .5em;
  }

  .mundo {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }

  .pacman {
    width: 342px;
  }

  .section-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-menu p {
    font-size: 19px;
    padding: 26px;
    margin: 0px;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-item img {
    width: 72%;
    height: auto;
  }

  .luigi-mario {
    position: relative;
    width: 75px;
    height: 75px;
    right: 8rem;
    bottom: 11em;
  }

  .dino-mario {
    width: 75px;
    height: 75px;
  }

  .mario {
    position: absolute;
    width: 75px;
    height: 75px;
    right: 12px;
    bottom: 45%;
  }

  .ancla-ig {
    cursor: pointer;
    z-index: 6;
    position: absolute;
    color: white;
    text-decoration: none;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacto-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card {
    border: 2px solid #fcb502;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    height: 17em;
    width: 12em;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 37px 0px rgba(255, 199, 0, 0.75);
    box-sizing: content-box;
    padding: 11px;
    justify-content: center;
  }

  #whatsapp-card {
    height: 22.5em;
  }

  .sonic {
    width: 60px;
  }

  .card h3 {
    margin-bottom: 0px;
  }

  .red-social img {
    width: 10em;
    border-radius: 20px;
  }

  .texto-contacto {
    font-size: 17px;
    width: 14em;
  }

  .anclas-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .anclas-wsp {
    cursor: pointer;
    z-index: 6;
    border: 2px solid #fcb502;
    border-radius: 30px;
    padding: 3px 19px;
    color: white;
    text-decoration: none;
  }
}