@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  display: grid;
  font-family: "Euclid Circular A";
  background: linear-gradient(180deg, rgba(140, 34, 195, 1) 0%, rgba(68, 9, 126, 1) 53%, rgba(28, 1, 59, 1) 100%);
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: white;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media (min-width: 250px) {

  .list-menu {
    display: none;
  }

  .anclas-menu {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 26px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
  }

  ul li {
    text-align: center;
  }

  label {
    cursor: pointer;
  }

  .burger {
    z-index: 5;
    display: grid;
    width: 99px;
    height: 71px;
    background: transparent;
    border: 0;
    cursor: pointer;
    background-image: url("menu-desplegable-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    cursor: pointer;
    transition: 0.175s;
    margin-left: -20px;
    position: fixed;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  .close-button {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    transition: 0.3s;
    z-index: 4;
  }

  .menu>div {
    background: #030108;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
  }

  body.open .menu>div {
    transform: translateX(0);
    background-color: #030108;
    height: 100%;
    width: 100%;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  .menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: 0.3s;
  }

  body.open .menu ul {
    opacity: 1;
    display: grid;
  }

  body.open .menu ul li {
    animation: appear 0.4s both;
  }

  body.open .burger {
    opacity: 0;
    pointer-events: none;
  }

  body.open .close-button {
    display: block;
    opacity: 1;
    z-index: 5;
    position: fixed;
  }

  header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .div-header {
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }

  .frase-header {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }

  main {
    padding-bottom: 20px;
  }

  .imagenes-inicio {
  display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
  .circulo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: solid 2px #fcb502;
    overflow: hidden;
    margin-bottom: 2em;
    box-shadow: 0px 0px 44px 12px rgba(255, 199, 0, 0.75);
  }

  .img-logo {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
  }

  #nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
  }

  .texto-mc {
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    width: 17em;
    word-spacing: .2em;
  }

  .h1-nosotros {
    margin: .5em;
    border-bottom: 2px solid #fcb502;
  }

  .mundo {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }

  .pacman {
    width: 342px;
  }

  .section-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section-menu p {
    font-size: 19px;
    padding: 26px;
    margin: 0px;
  }

  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 20px 0px;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-item img {
    width: 72%;
    height: 90%;
    box-shadow: 0px 0px 44px 12px rgba(255, 199, 0, 0.75);
  }

  .luigi-mario {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }

  .dino-mario {
    width: 90px;
    height: 90px;
    margin-top: 22px;
  }

  .mario {
    width: 75px;
    height: 75px;
    margin-left: 10px;
  }

  .ancla-ig {
    cursor: pointer;
    z-index: 6;
    position: absolute;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacto-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .card {
    border: 2px solid #fcb502;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    height: 18em;
    width: 13em;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0px 0px 37px 0px rgba(255, 199, 0, 0.75);
    box-sizing: content-box;
    padding: 11px;
    justify-content: flex-start;
  }

  #whatsapp-card {
    height: 41em;
  }

  .sonic {
    width: 60px;
  }

  .card h3 {
    border-bottom: 2px solid #fcb502;
  }

  .red-social img {
    width: 10em;
    border-radius: 20px;
  }

  .texto-contacto {
    font-size: 17px;
    width: 14em;
  }

  .anclas-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  
  @keyframes shadowAnimation {
    
    0%, 100% {
      box-shadow: 0px 0px 20px 11px rgba(255, 199, 0, 0.75);
    }
    50% {
      box-shadow: none;
    }
  }

  @keyframes shadowAnimationIn {
    
    0%, 100% {
      box-shadow: inset 0px 0px 20px 3px rgba(255, 199, 0, 0.75);
    }
    50% {
      box-shadow: none;
    }
  }

  @keyframes shadowAnimationHacerPedido {
    
    0%, 100% {
      box-shadow: inset 0px 0px 20px 3px rgba(140, 34, 195, 1);
    }
    50% {
      box-shadow: none;
    }
  }
 

  .anclas-wsp {
    cursor: pointer;
    z-index: 6;
    border: 2px solid #fcb502;
    border-radius: 30px;
    padding: 3px 19px;
    color: white;
    text-decoration: none;
    animation: shadowAnimationIn 1s infinite;
    transition: background-color 0.8s;
  }

  .combo {
    width: 65%;
    height: 50%;
    margin-top: 56px;
    box-shadow: 0px 0px 44px 12px rgba(255, 199, 0, 0.75);
  }

  #menu-title {
    animation: shadowAnimation 1s infinite;
    border: 2px solid #fcb502;
    padding: 4px 37px;
    border-radius: 30px;
    z-index: 5;
    transition: background-color 0.8s;
    margin-bottom: 0px;
    margin-top: 12px;
  }

  .parrafo-menu2 {
    border-radius: 30px;
    border: 2px solid #fcb502;
    width: 89%;
  }

  .menu-section {
    padding: 10px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s, transform 1s;
    z-index: 5;
  }

  .visible {
    opacity: 1;
    transform: translateY(0);
  }

  .menu-button-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    row-gap: 15px;
    width: 100%;
  }

  .menu-button {
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
    border: 2px solid #fcb502;
    box-shadow: inset 0px 0px 15px 0px rgba(255, 199, 0, 0.75);
    padding: 4px 37px;
    border-radius: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
  }

  .menu-button.active {
    background-color: #a77501;
  }

  .sub-menu {
    transition: opacity 1s, transform 1s;
  }

  .div-botones-submenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .div-botones-submenu p {
    font-size: 15px;
    padding: 14px 5px;
    margin: 0px;
  }

  .menu-button.sub-menu-button {
    background-color: transparent;
    border: 2px solid #fcb502;
    box-shadow: inset 0px 0px 15px 0px rgba(255, 199, 0, 0.75);
    padding: 4px 37px;
    border-radius: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    width: 5.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .div-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="radio"] {
    appearance: none; /* Oculta la apariencia por defecto del radio button */
    -webkit-appearance: none; /* Para navegadores basados en WebKit como Chrome y Safari */
    -moz-appearance: none; /* Para navegadores basados en Gecko como Firefox */
    width: 10px; /* Tamaño del radio button */
    height: 10px;
    margin-right: 8px;
    border-radius: 50%; /* Borde redondeado para que sea un círculo */
    border: 2px solid #fcb502; /* Borde azul */
    outline: none; /* Quita el contorno predeterminado al hacer clic */
  }
  
  /* Estilo para los radio buttons cuando están seleccionados */
  input[type="radio"]:checked {
    background-color: #fcb502 ; /* Fondo azul cuando está seleccionado */
  }

  .counter-value {
    margin: 6px;
    font-size: 15px;
  }

  .counter-button {
    width: 23px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #fcb502;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 26px;
    justify-content: center;
  }

  .sub-menu-dos {
    transition: opacity 1s, transform 1s;
  }

  .sub-menu-tres {
    transition: opacity 1s, transform 1s;
  }

  .sub-menu-cuatro {
    transition: opacity 1s, transform 1s;
  }

  .sub-menu-cinco {
    transition: opacity 1s, transform 1s;
  }


  .total {
    display: none;
    opacity:  0;
    position: fixed;
    border: 2px solid #fcb502;
    box-shadow: inset 0px 0px 15px 0px rgba(255, 199, 0, 0.75);
    padding: 4px 37px;
    border-radius: 30px;
    z-index: 6;
    backdrop-filter: blur(5.2px);
    top: 5px;
    right: 5px;
    transition: opacity 1s;
  }

  #hacerPedidoButton {
    transition: background-color 0.8s;
    animation: shadowAnimationHacerPedido 1s infinite;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fcb502;
    border: 2px solid #fcb502;
    padding: 4px 21px;
    border-radius: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: black;
    z-index: 6;
    height: 62px;
    font-size: 23px;
  }

  .metodo-pago {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
  }

  #parrafos-pago {
    font-size: 13px;
    padding: 0px 10px;
  }

  .detalles {
    font-size: 12px;
    margin: 0px;
  }

  #tuPedidoBtn {
    display: none;
    position: fixed;
    border: 2px solid #fcb502;
    padding: 4px 30px;
    border-radius: 30px;
    z-index: 6;
    backdrop-filter: blur(5.2px);
    top: 5px;
    left: 5px;
    transition: opacity 1s;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    background: transparent;
    animation: shadowAnimationIn 1s infinite;
    flex-direction: row;
    align-items: center;
  }

  #pedidoDropdown {
    position: fixed;
    top: 56px;
    font-size: 17px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 2px solid #fcb502;
    width: 100%;
  }
  
  .eliminar-producto {
    cursor: pointer;
    color: red;
    background: transparent;
    border: none;
    font-size: 21px;
  }

  .flecha-abajo {
    border: solid #fcb502;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    transition: transform 0.8s;  /* Agregamos una transición para el efecto suave */
    margin-left: 8px;
  }
  
  .flecha-arriba {
    transform: rotate(-135deg);
    border: solid #fcb502;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transition: transform 0.8s;
    margin-left: 8px;
  }

  .contacto h2 {
    border-bottom: 2px solid #fcb502;
  }
  
  .ancla-ig h3 {
    border-bottom: 2px solid #fcb502;
    width: 111px;
  }

  #parrafos-detalles {
    padding: 0px;
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .boton-agregar {
    border: 2px solid #fcb502;
    padding: 4px;
    border-radius: 30px;
    z-index: 6;
    backdrop-filter: blur(5.2px);
    top: 5px;
    left: 5px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    background: transparent;
    animation: shadowAnimationIn 1s infinite;
  }

  .div-extras {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    width: 100%;
  }

  .boton-extras {
    background-color: transparent;
    border: 2px solid #fcb502;
    box-shadow: inset 0px 0px 15px 0px rgba(255, 199, 0, 0.75);
    padding: 4px 37px;
    border-radius: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .extra-item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    height: 30px;
    width: 100%;
    column-gap: 10px;
    justify-content: center;
  }

  .extra-item p {
    font-size: 15px;
    width: 100px;
  }

  .producto-pedido {
    font-size: 15px;
  }
}